


.search__icon{
    font-size: large;
    padding-right: 20px;
}

.Home{
    display: flex;
    width: 100%;
}

.search_bar{
    display: flex;
    align-items: center;
    background-color: #eff2ef;
    padding: 5px;
    color: black;
    margin-top: 20px;
    border-radius: 5px;
}

.search_bar > input {
    border: none;
    background-color: transparent;
    outline-width: 0;
  }

.search__icon{
    justify-content: center;
    align-items: center;
}
/* 
.name{
    padding: 20px;
    margin: 10px;
    background: #7a57d121;
    border-radius: 20px;
} */
/* 
.left__feeds{
    flex: 2;
    margin: 10px 5px 0px 5px;
    padding: 0px 5px 0px 5px;
    text-align: center;
    border-radius: 20px;
}

.nav_items{
    padding: 10px;
    color: #eff2ef;
    justify-content: center;
    text-align: center;
}

.nav_items:hover{
    border-color: #bc13fe;
    box-shadow: -1px -1px 1px #7a57d121, -1px 1px 1px #7a57d121, 1px -1px 1px #7a57d121, 1px 1px 1px #7a57d121, 0 0 3px #7a57d121, 0 0 10px #7a57d121, 0 0 20px #7a57d121, 0 0 30px #7a57d121, 0 0 40px #7a57d121, 0 0 50px #7a57d121, 0 0 70px #7a57d121, 0 0 100px #7a57d121, 0 0 200px #7a57d121;
    border-radius: 999px;
    
} */


.middle__feeds{
    flex: 8;
    margin: 50px 10px 0px 10px;

}

.right__feeds{
    flex: 2;
    margin: 50px 5px 0px 5px;
    text-align: center;
    border-radius: 20px;
    height: 100%;
}

/* .right__feeds>img{
    border-radius: 50%;
    background-color: #eff2ef;
    border: 2px solid black;



} */