* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .container {
    /* width: 100vw; */
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #16161a;
    color: #fffffe;
    /* overflow: auto; */
  }
.profile_box {
    width: 350px;
    height: 300px;
  }
  .container .profile_box .space {
    width: 23px;
    height: 100px;
  }
  .container .profile_box .inner-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #7a57d121;
    border-radius: 0.6rem;
    position: relative;
    height: 200px;
    border: 1px solid transparent;
    transition: 0.2s ease-in;
  }
  .container .profile_box .inner-profile:hover {
    border-color: #bc13fe;
    box-shadow: -1px -1px 1px #7a57d121, -1px 1px 1px #7a57d121, 1px -1px 1px #7a57d121, 1px 1px 1px #7a57d121, 0 0 3px #7a57d121, 0 0 10px #7a57d121, 0 0 20px #7a57d121, 0 0 30px #7a57d121, 0 0 40px #7a57d121, 0 0 50px #7a57d121, 0 0 70px #7a57d121, 0 0 100px #7a57d121, 0 0 200px #7a57d121;
  }
  .container .profile_box .inner-profile .img .mai {
    padding: 0.6rem;
    border-bottom: 1px solid #7f5af060;
  }
  .container .profile_box .inner-profile img {
    width: 80px;
    border-radius: 50%;
    border: 1px solid #7f5af0;
    box-shadow: 0 1px 1px #7f5af01f, 0 2px 2px #7f5af01f, 0 4px 4px #7f5af01f, 0 8px 8px #7f5af01f, 0 16px 16px #7f5af01f;
  }
  .container .profile_box .inner-profile .linear {
    margin-bottom: 2.7rem;
    display: inline-flex;
  }
  .container .profile_box .inner-profile .linear .linear_obj {
    margin: 1rem;
  }
  .container .profile_box .inner-profile .linear .linear_obj h4 {
    font-size: 12px;
    padding-block-end: 0.9rem;
  }
  .container .profile_box .inner-team {
    margin-top: 1.3rem;
  }
  .container .profile_box .inner-team .heading-team {
    font-size: 20px;
    color: #bc13fe;
    padding: 0.5rem;
    text-shadow: 0px 0px 32px #bc13fe;
    margin-left: 20px;
  }
  .container .profile_box .inner-team .mate {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    margin-block: 0.2rem;
    background: #7a57d121;
    border: 2px solid transparent;
    border-radius: 0.6rem;
    transition: 0.3s ease-in;
  }
  .container .profile_box .inner-team .mate:hover {
    border-color: #bc13fe;
    box-shadow: -1px -1px 1px #7a57d121, -1px 1px 1px #7a57d121, 1px -1px 1px #7a57d121, 1px 1px 1px #7a57d121, 0 0 3px #7a57d121, 0 0 10px #7a57d121, 0 0 20px #7a57d121, 0 0 30px #7a57d121, 0 0 40px #7a57d121, 0 0 50px #7a57d121, 0 0 70px #7a57d121, 0 0 100px #7a57d121, 0 0 200px #7a57d121;
  }
  .container .profile_box .inner-team .mate img {
    width: 50px;
    height: 50px;
    overflow: hidden;
    position: cent;
    border-radius: 50%;
    border: 1px solid #bc13fe;
  }
  .container .profile_box .inner-team .mate .middle_info {
    text-align: center;
    margin-inline: 0.9rem;
  }
  .container .profile_box .inner-team .mate .middle_info h3 {
    font-size: 15px;
  }
  .container .profile_box .inner-team .mate .middle_info h4 {
    font-size: 12px;
    color: #597ecf;
  }
  .container .profile_box .inner-team .mate .repu {
    text-align: center;
  }
  .container .profile_box .inner-team .mate .repu h4 {
    font-size: 14px;
  }
  .container .profile_box .inner-team .mate .repu h3 {
    font-size: 16px;
    color: #cacc56;
  }
  
  /*# sourceMappingURL=index.css.map */
  