.Feedss{
    background-color: rgb(208, 223, 228);
    margin: 30px 0px 15px 0px;
    padding: 20px;
    border-radius: 10px;
}

.top{
    display:flex;
    justify-content:space-between;
    
}


.head>h2:hover{
    color: rgb(9, 186, 245);
    cursor: pointer;
}


.icons{
    font-size: xx-large;
    background-color: white;
    color: rgb(9, 186, 245);
    border-radius: 999px;
    cursor: pointer;
    margin: 5px;
    padding :5px;
}

.icons:hover{
    background-color: rgb(9, 186, 245);
    color: white;
}

.tags{
    display: flex;
    flex-flow: wrap;
}
.tags>p{
    background-color: lightblue;
    color: black;
    padding: 5px 10px 5px 10px;
    margin: 10px 10px 5px 0px;;
    border-radius: 999px;
}

.bottom{
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
}

.location{
    display: flex;
    margin: 10px 0px 0px 0px;
}

.about{
    margin: 20px 0px 20px 0px;
}



/* Avatar images group of people */

.avatar img {
    border-radius: 50%;
    position: relative;
    left: -2px;
    margin-left: -15px;
    z-index: 1;
  }
  
  .avatars {
    direction: rtl;  /* This is to get the stack with left on top */
    text-align: left;  /* Now need to explitly align left */
    padding-left: 15px;  /* Same value as the negative margin */
  }